<app-header
  [navbarBrandRouterLink]="['/game']"
  [fixed]="true"
  [sidebarToggler]="false"
  [navbarBrandText]="'Battleship'">
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item d-md-down-none">
      <a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger"></span></a>
    </li>
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <a class="nav-link" href="#"><i class="icon-list"></i></a>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item" href="#" (click)="logout()"><i class="fa fa-lock"></i>Logout</a>
      </div>
    </li>
  </ul>
</app-header>

<div id="game-layout" class="app-body">
  <main class="main">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
