<div id="Login" class="card">
  <div class="card-body">
    <div class="card-header">
      <h3>Login</h3>
    </div>
    <div class="card-body">
      <form class="auth-form" @submit="submit">
        <div>
          <div>
            <label for="Login-email">Email: </label>
          </div>
          <input type="email" id="Login-email" v-model="email" />
        </div>
        <div>
          <div>
            <label for="Login-pw">Password: </label>
          </div>
          <input type="password" id="Login-pw" v-model="password" />
        </div>
        <br>
        <input type="submit" value="Submit" />
      </form>
    </div>
  </div>
  <div class="card-footer">
    <p>Don't have an account? <router-link :to="{ name: 'Signup' }">Signup</router-link></p>
  </div>
</div>
